{
  mainBox:
    height: 304
    _isVisible: true

  timeline:
    _allProps:
      "no-id-Opening Titles-Big Black Horse-X":
        pacs:
          _idCounter: 0
          chronologyLength: 0
          chronology:
            points: [
              t: 0
              value: 480
              id: "no-id-Opening Titles-Big Black Horse-X-point-0"
              handler: [
                10
                0
                10
                0
              ]
            ]
            connectors: []

      "no-id-Opening Titles-Big Black Horse-Y":
        pacs:
          _idCounter: 0
          chronologyLength: 0
          chronology:
            points: [
              t: 0
              value: 463
              id: "no-id-Opening Titles-Big Black Horse-Y-point-0"
              handler: [
                10
                0
                10
                0
              ]
            ]
            connectors: []

  timeControl:
    t: 88.51674641148325
    _focus:
      from: 0
      to: 1000

    _lastPlayedTickAt: 0
}