{
  mainBox:
    height: 304
    _isVisible: true

  timeline:
    _allProps:
      "no-id-Opening Titles-Big Black Horse-X":
        pacs:
          _idCounter: 1
          chronologyLength: 88.51674641148325
          chronology:
            points: [
              {
                t: 0
                value: 480
                id: "no-id-Opening Titles-Big Black Horse-X-point-0"
                handler: [
                  10
                  0
                  10
                  0
                ]
              }
              {
                t: 88.51674641148325
                value: 607
                id: "no-id-Opening Titles-Big Black Horse-X-point-1"
                handler: [
                  10
                  0
                  10
                  0
                ]
              }
            ]
            connectors: []

      "no-id-Opening Titles-Big Black Horse-Y":
        pacs:
          _idCounter: 1
          chronologyLength: 88.51674641148325
          chronology:
            points: [
              {
                t: 0
                value: 463
                id: "no-id-Opening Titles-Big Black Horse-Y-point-0"
                handler: [
                  10
                  0
                  10
                  0
                ]
              }
              {
                t: 88.51674641148325
                value: 457
                id: "no-id-Opening Titles-Big Black Horse-Y-point-1"
                handler: [
                  10
                  0
                  10
                  0
                ]
              }
            ]
            connectors: []

      "no-id-Opening Titles-And a Cherry Tree-X":
        pacs:
          _idCounter: 0
          chronologyLength: 88.51674641148325
          chronology:
            points: [
              t: 88.51674641148325
              value: 826
              id: "no-id-Opening Titles-And a Cherry Tree-X-point-0"
              handler: [
                10
                0
                10
                0
              ]
            ]
            connectors: []

      "no-id-Opening Titles-And a Cherry Tree-Y":
        pacs:
          _idCounter: 0
          chronologyLength: 88.51674641148325
          chronology:
            points: [
              t: 88.51674641148325
              value: 429
              id: "no-id-Opening Titles-And a Cherry Tree-Y-point-0"
              handler: [
                10
                0
                10
                0
              ]
            ]
            connectors: []

  timeControl:
    t: 88.51674641148325
    _focus:
      from: 0
      to: 1000

    _lastPlayedTickAt: 0
}