@import "./setup/mixins"

@mixin thingy

	z-index: 11
	top: 0
	left: 0
	position: absolute
	color: white

.simplePlayer-playPause

	@include thingy
	cursor: pointer

.simplePlayer-seekbar

	@include thingy

	width: 1000px
	height: 16px

	&:after

		@include psuedo

		top: 8px
		height: 3px
		position: absolute
		width: 100%
		background: rgba(255, 255, 255, 0.5)

	@include transform-origin(left)
	cursor: pointer


.simplePlayer-seekbar-seeker

	@include thingy
	width: 3px
	height: 12px
	background: white

	cursor: pointer

.simplePlayer-fullscreenRestore

	@include thingy

	height: 18px
	width: 30px
	cursor: pointer

.simplePlayer-loadbar

	position: absolute

	pointer-events: none

	width: calc(100% - 210px)
	height: 30px
	@include transition(all 0.3s)

	left: 90px
	top: 6px

.simplePlayer-loadBar-loadIndicator

	position: absolute

	width: 0
	height: 3px

	background: rgba(1, 1, 1, 0)

	@include transition(width 0.3s)

@mixin timeIndicator

	@include thingy

	width: 50px
	height: 50px
	line-height: 50px

	color: white

	font-family: Droid Sans
	font-size: 14px

.simplePlayer-now, .simplePlayer-length

	@include timeIndicator